/* GENERAL */

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.row{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap; 
}

.link-button{
    background-color: #0061FF;
    border: 0;
    color: white;
    padding: 10px;
}

.col-border{
    border-radius: 25px;
}


/* BG COLOR */

:root{
    --first-color: #0084FD;
    --second-color: #B5DDFF;
    --thirt-color: #9792E4;
}

header > section{
    background-color: var(--first-color);
}

.col-sect-blue-1, .col-sect-blue-2{
    background-color: var(--second-color);
}

.bg-violet{
    background-color: var(--thirt-color);
}

.bg-white{
    background-color: white;
}