/* GENERAL */

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.25rem;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* .flex-wrap{
    flex-wrap: wrap; 
} */

button{
    background-color: var(--first-color);
    color: white;
    border: 0;
    border-radius: 25px;
    padding: 10px;
}

.col-border{
    border-radius: 25px;
}

div > img{
    display: block;
    width: 80%;
}



/*  COLOR */

:root{
    --first-color: #0084FD;
    --second-color: #B5DDFF;
    --thirt-color: #9792E4;
}

header > section{
    background-color: var(--first-color);
}

.col-sect-blue-1-1,
.col-sect-blue-2,
.col-sect-blue-1-2{
    background-color: var(--second-color);
}

.bg-violet{
    background-color: var(--thirt-color);
}

.bg-white{
    background-color: white;
}

.text-blue{
    color: var(--first-color);
}

.text-violet{
    color: var(--thirt-color);
}

.text-white{
    color: white;
}