/* HEADER */

.head{
    justify-content: space-between;
}

.col-header{
    width: calc(100% / 2);
}

/* MAIN */

/* BLUE SECTION */

.col-sect-blue-1{
    width: 100%;
}

.col-sect-blue-2{
    width: 100%;
}

/* 1-VIOLET SECTION     */

.col-sect-1{
    width: 100%;
}


/* 2-VIOLET SECTION     */

.col-sect-2{
    width: 100%;
}



/* 3-VIOLET SECTION     */

.col-sect-3{
    width: 100%;
}


/* 4-VIOLET SECTION     */

.col-sect-4{
    width: 100%;
}



/* FOOTER */


/* 1-SECTION FOOTER */





/* 2-SECTION FOOTER */

#bg-black{
    background-color: black;
    color: white;
}


