/* HEADER */

.head{
    justify-content: space-between;
}

.col-header{
    width: calc(100% / 2);
}

/* MAIN */

/* BLUE SECTION */

.col-sect-blue-1{
    width: 100%;
}

.col-sect-blue-2{
    width: 100%;
}

/* 1-VIOLET SECTION     */

.col-sect-1{
    width: 100%;
}


/* 2-VIOLET SECTION     */

.col-sect-2{
    width: 100%;
}



/* 3-VIOLET SECTION     */

.col-sect-3{
    width: 100%;
}


/* 4-VIOLET SECTION     */

.col-sect-4{
    width: 100%;
}



/* FOOTER */


/* 1-SECTION FOOTER */





/* 2-SECTION FOOTER */

#bg-black{
    background-color: black;
    color: white;
}




/* RESPONSIVE WITH MEDIA QUERY */

/* TABLET */

@media screen and (min-width: 768px){

        /* MAIN */

    /* BLUE SECTION */

    .col-sect-blue-1{
        width: calc((100% / 2) - 40px);
        margin: 10px;
    }

    .col-sect-blue-2{
        width: calc((100% / 3) - 40px);
        margin: 10px;
    }

    /* 1-VIOLET SECTION     */

    .col-sect-1{
        width: 100%;
        margin: 10px;
    }


    /* 2-VIOLET SECTION     */

    .col-sect-2{
        width: 100%;
        margin: 10px;
    }



    /* 3-VIOLET SECTION     */

    .col-sect-3{
        width: calc((100% / 2) - 40px);
        margin: 10px;
    }


    /* 4-VIOLET SECTION     */

    .col-sect-4{
        width: calc((100% / 2) - 40px);
        margin: 10px;
    }

}

/* DESKTOP */

@media screen and (min-width: 992px){

    /* MAIN */


    .container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 1.25rem;
    }      

    /* BLUE SECTION */

    .col-sect-blue-1{
        width: calc((100% / 2) - 2.5rem);
        margin: 10px;
    }

    .col-sect-blue-2{
        width: calc((100% / 3) - 2.5rem);
        margin: 10px;
    }

    /* 1-VIOLET SECTION     */

    .col-sect-1{
        width: calc((100% / 2) - 2.5rem);
        margin: 10px;
        
    }


    /* 2-VIOLET SECTION     */

    .col-sect-2{
        width: 100%;
        margin: 10px;
    }



    /* 3-VIOLET SECTION     */

    .col-sect-3{
        width: calc((100% / 3) - 2.5rem);
        margin: 10px;
    }


    /* 4-VIOLET SECTION     */

    .col-sect-4{
        width: calc((100% / 2) - 2.5rem);
        margin: 10px;
    }
    
}


