/* HEADER */

.head{
    justify-content: space-between;
}

.col-header{
    width: calc(100% / 2);
}

/* MAIN */

/* BLUE SECTION */

.col-sect-blue-1{
    width: 100%;
}

.col-sect-blue-2{
    width: 100%;
}

/* 1-VIOLET SECTION     */

.col-sect-1{
    width: 100%;
}



/* 2-VIOLET SECTION     */





/* 3-VIOLET SECTION     */




/* 4-VIOLET SECTION     */





